<div class="overview">
  <div class="location ">
    <p class="location-title">Location</p>
    <div class="display-location">
      <%= link_to "Add Location", homepage_path, class: "btn btn-primary p28" %>
    </div>
  </div>
  <div class="flight">
    <p class="flight-title">Flight</p>
    <div class="display-flight">
      <%= link_to "Add flight", homepage_path, class: "btn btn-primary p28" %>
    </div>
  </div>
  <div class="hotel">
    <p class="hotel-title">Hotel</p>
    <div class="display-hotel">
      <%= link_to "Add hotel", homepage_path, class: "btn btn-primary p28" %>
    </div>
  </div>
  <div class="activity">
    <p class="activity-title">Activity</p>
    <div class="display-activity">
      <%= link_to "Add activitiy", homepage_path, class: "btn btn-primary p28" %>
    </div>
  </div>
</div>
