<div class="flight-card-test">
  <div class="flight-info">
      <span class="bold">18.02.2024</span>
    <div class="outbound-flight">

      <div class="flight-airport flight-info flight-airport-outbound">

        <p class="flight-info-upper">
          <span class="bold">LGW</span>
          18:30
        </p>
        <p>London Gatwick</p>
      </div>

      <div class="flight-travel flight-info">
        <p class="flight-info-upper">2h00</p>


        <svg class="icon-way" viewBox="0 0 341 32">
          <path fill="#ff8c00" style="fill: var(--color1, #ff8c00)" d="M325.333 0c-7.872 0-14.384 5.696-15.717 13.189h-277.899c-1.333-7.493-7.845-13.189-15.717-13.189-8.837 0-16 7.163-16 16s7.163 16 16 16c7.872 0 14.384-5.696 15.717-13.189h277.899c1.333 7.493 7.845 13.189 15.717 13.189 8.837 0 16-7.163 16-16s-7.163-16-16-16z"></path>
          </svg>
      </div>

      <div class="flight-airport flight-info flight-airport-inbound">
        <p class="flight-airport-upper">
          21:00
          <span class="bold">AGP</span>
        </p>
        <p>Malaga</p>
      </div>


    </div>
        <span class="bold">18.02.2024</span>
    <div class="inbound-flight">
      <div class="flight-airport flight-info flight-airport-outbound">
        <p class="flight-info-upper">
          <span class="bold">LGW</span>
          18:30
        </p>
        <p>London Gatwick</p>
      </div>

      <div class="flight-travel flight-info">
        <p class="flight-info-upper">2h00</p>

        <svg class="icon-way" viewBox="0 0 341 32">
          <path fill="#ff8c00" style="fill: var(--color1, #ff8c00)" d="M325.333 0c-7.872 0-14.384 5.696-15.717 13.189h-277.899c-1.333-7.493-7.845-13.189-15.717-13.189-8.837 0-16 7.163-16 16s7.163 16 16 16c7.872 0 14.384-5.696 15.717-13.189h277.899c1.333 7.493 7.845 13.189 15.717 13.189 8.837 0 16-7.163 16-16s-7.163-16-16-16z"></path>
          </svg>
      </div>

      <div class="flight-airport flight-info flight-airport-inbound">
        <p class="flight-airport-upper">
          21:00
          <span class="bold">AGP</span>
        </p>
        <p>Malaga</p>
      </div>
    </div>
  </div>

  <div class="flight-price flight-info">
    <p class="price-label">Return flight<br/>
    <span class="price-label-grey">Per person</span>
    </p>
    <span class="flight-price-total">£384</span>
    <button class="select-flight-button">Select</button>
  </div>
</div>
