<div class="cards" data-autocomplete-target="list">
  <% locations.each do |location| %>
    <div class="card-category" style="background-image: url('<%= cl_image_path location.photo.key, height: 300, crop: :fill %>')">
      <h3>
        <%= location.name %>
      </h3>
    </div>
  <% end %>
</div>
