<div class="cards" data-autocomplete-target="list">
  <% locations.each do |location| %>
    <div class="card-category" style="background-image: url('<%= url_for(location.photo) %>')">
      <h3>
        <%= location.name %>
      </h3>
    </div>
  <% end %>
</div>
