<div class="card-product mb-3">
  <div class="card-product-infos">
  <h2><%= room_status.room_name %></h2>
  <h6 class="pt-2"><%= room_status.price %> € </h6>
</div>
<%= link_to new_trip_hotel_path(@trip, room_id: room_status.id ), class: "ms-auto" do  %>
  <button id="button_style" class="hotel_select_button btn btn-primary">book now!</button>
<% end %>
</div>
