<div class="room-list-container">
    <% if @room_statuses.present? %>
  <% @room_statuses.each do |room| %>
    <%= render 'shared/room_card', hotel: @hotel, room_status: room %>
  <% end %>
<% else %>
  <p>No rooms available for this hotel.</p>
<% end %>
</div>
