<%= form_with url: locations_path,
              method: :get,
              html: {
                class: "mb-4",
                data: {
                  autocomplete_target: "form"
                }
              } do |f| %>

  <div class="input-icons w-50">
    <i class="fa-solid fa-magnifying-glass icon"></i>
    <div class="d-flex justify-content-between">
      <%= f.text_field :query,
                        class: "form-control input-field",
                        value: params[:query],
                        placeholder: "Search for a location",
                        data: {
                        autocomplete_target: "input",
                        action: "keyup->autocomplete#update"
                        } %>
      <%= f.submit "Search", class:"input-btn" %>
    </div>
  </div>
<% end %>
