<div class="card-container">
  <div class="card-location">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-location-infos">
      <div>
        <h2>location.name</h2>
        <p>location.address</p>
      </div>
    </div>
  </div>
</div>
