<%= form_with url: create_path,
              method: :post,
              html: {
                class: ""
              } do |f| %>
  <div class="form-container">
    <%= f.label "Pick a name for the trip", class: "mt-3" %>
    <%= f.text_field :name,
                    class: "form-control r13 mb-3 mt-3",
                    value: params[:name],
                    placeholder: "Name of the trip"
                    %>
    <div class="row justify-content-end mb-3">
      <%= f.submit "Start Tripping", class:"w-auto btn btn-primary r13" %>
    </div>
  </div>
<% end %>
