.activity-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  width: calc(100% - (100% / 2)); /* Set width to 1/3 smaller */
  margin: 16px;
}

.activity-product img {
  height: 100%;
  width: auto;
  object-fit: cover;
  padding: 16px;
}

.activity-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.activity-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.activity-product .activity-product-infos {
  padding: 16px;
}

.activity_select_button {
  position: absolute;
  top: 20px;
  right: 20px;
}
