.activity-product {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px auto;
  width: 425px;
}

.activity-product img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.activity-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.activity-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.activity-product .activity-product-infos {
  padding: 16px;
}

.activity-container {
  overflow: auto;
  height: 500px;
  width: 50%;
}
