.days-of-week {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #000;
}

.day-box {
  border: 1px solid #000; /* Adjust the border styles as needed */
  padding: 10px 10px; /* Adjust the padding as needed */
  text-align: center;
  margin-right: 0;
}
