.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 242, 242);
  position: fixed;
  width: 100%;
  z-index: 1000;
  min-height: 65px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbarTitle {
  text-align: center;
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: #EEE8A9;
  color: #469ff8;
  padding: 10px;
}

.navbar ul {
  display: flex auto;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}


.navbar li {
  display: inline;
  margin-right: 15px;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}


.btn-ghost:hover {
  opacity: 1;
}

.navbarTitle a {
  text-decoration: none;
}
