.search-container {
  margin: 0 auto;
  padding: 7px 15px;
  background-color: darkslategray;
}

.search-text {
  text-align: center;
}

.search-btn {
  background-color: gray;
  font-weight: bold;
  color: white;
  text-align: center;
  border: none;
  width: 70%;
}

::-webkit-datetime-edit {
  padding: 1em;
}
::-webkit-datetime-edit-text {
  padding: 0 0.3em;
}
::-webkit-inner-spin-button {
  display: none;
}
