// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/overview";
@import "pages/hotel_showPage";
@import "simple_calendar";

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #245D59;

}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 60px;
}

.r13 {
  border-radius: 13px;
}

.activity-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}
