<div class="row">
  <div class="activity-container col-md-6" style="height: 82vh;">
    <% @activities.each do |activity| %>
      <%= render partial: "shared/activity_cards", locals: { activity: activity, trip: @trip } %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div data-controller="map"
      id='map'
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>"
      style='height: 82vh;'></div>
  </div>
</div>
