<div class="row">
  <div class="col"
      data-controller="map"
      id='map'
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>"
      style='width: 100%; height: 82vh;'>
  </div>

  <div class="col">
    <%= render "shared/hotels_list" %>
  </div>
</div>
