<div class="">
  <div class="Show-page d-flex">
    <div class="book-room-form justify-content-center me-5 text-center col-md-3" style="background-color: white; border: 0,8px solid #000; padding: 20px; border-radius: 2px; height: 230px;">
      <h2>Book a room </h2>
      <%= render "shared/search_room", trip: @trip %>
    </div>
    <%= render 'shared/hotel_show_card', hotel: @hotel%>
  </div>
  <br>
  <%= render "shared/room_list" %>
</div>
