<div data-controller="autocomplete">
  <div>
    <%= render "shared/search_basic" %>
  </div>

  <div>
    <%= render partial: "shared/homepage_location_cards", locals: { locations: @locations } %>
  </div>
</div>
